<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
</head>

<body>
    <div ng-controller="MyController">

        <li ng-repeat="items in parent" ng-init="counter = $index">
            <span ng-repeat="item in items">
            <span ng-click="remove($index,counter)">{{item}}</span>
            </span>
        </li>


    </div>
    <script src="main.module.js"></script>
    <script src="controller/main.controller.js"></script>
</body>

</html>
