<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</head>

<body>
    <div ng-controller="MainController as main">
        {{main.person.name}}
        <br> {{main.person.surname}}
        <br>{{main.person.age}}
        <br>{{main.person.pathToList}}
        <br>
        <br>
        <br>
        <br> {{main.list.id}}
        <br> {{main.message}}

        <span ng-repeat="item in main.list.todo">
        <br>
    {{item}}
</span>
        <li ng-repeat="todo in main.list.todo">
            <label class="checkbox">
                <input type="checkbox" ng-model="todo.flag">
                <span>{{todo.name}}</span>
            </label>
        </li>
        <form ng-submit="todoList.addTodo()">
            <input type="text" ng-model="todoList.todoText" size="30" placeholder="add new todo here">
            <input type="submit" value="add">
        </form>
    </div>
    <script src="js/main.js"></script>
    <script src="js/controller/main.controller.js"></script>
    <script src="js/helpers.js"></script>
    <script src="js/services/data.service.js"></script>
    <script src="js/services/pathFactory.service.js"></script>


</body>

</html>
